/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
*/
body {
	color: #526066;
}

h2, h3 {
	letter-spacing: 0.25em;
	text-transform: uppercase;
	font-weight: 600;
}

p {
	line-height: 1.6em;
}


/*
 * -- Layout Styles --
*/
.l-content {
	margin: 0 auto;
}

.l-box {
	padding: 0.5em 2em;
}

/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
*/
.banner {
	background: transparent url('/img/header-northern-lights.jpg') 0 0 no-repeat fixed;
	text-align: center;
	background-size: contain;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/header-northern-lights.jpg', sizingMethod='scale');
	height: 350px;
	width: 100%;
	margin-bottom: 3em;
	display: table;
}

.banner-head {
	display: table-cell;
	vertical-align: middle;
	margin-bottom: 0;
	font-size: 2em;
	color: white;
	font-weight: 500;
	text-shadow: 0 1px 1px black;
}

svg.panther {
	fill: #000;
	clear: left;
	width: 150px;
	display: block;
	margin: auto;
	-webkit-filter: drop-shadow( 0px 1px 1px #fff );
	filter: drop-shadow( 0px 1px 1px #fff );
}

/*
 * -- FOOTER --
*/
.footer {
	background: #111;
	color: #888;
	text-align: center;
}
.footer a {
	color: #ddd;
}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
*/
@media(min-width: 767px) {
	.banner-head {
		font-size: 4em;
	}
}

/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
*/
@media (min-width: 480px) {
	.banner {
		height: 450px;
	}
	.banner-head {
		font-size: 3em;
	}
}
